*{
    padding: 0%;
    margin: 0%;
}
body{
  background: linear-gradient(110deg, #62e6a5 50%, #9ae7ba 50%, #9ae7ba 52%, #d1f5de 52%, #d1f5de 0);
  height: 1000px;
 /*  background-attachment: fixed;*/
}
.page{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    position:relative;
    font-size: 20px;
    background-color: #ade7c1c2;
    color: #fff;
    
}
.container{
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: center;
    position:relative;
    font-size: 20px;
    height: 1000px;
    
    

}
.navbar{
    background-color: #79c799b4;
    display:flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
   /* flex-wrap:wrap;*/
    overflow: auto;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    
    

}
.navbar-item{
    display: flex;
    width: 80%;
    flex-wrap:wrap;
    align-self: center;
    justify-content: flex-end;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    gap: 50px;
}
.logo{
    width: 30%;
    
    font-size: 32px;

}
.list{
    display: flex;
    justify-content: flex-end;
}

ul{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center , space-between;
    overflow: auto;
    gap: 20px;
    list-style: none;
    

}
a{
    text-decoration: none;
    color: #fff;
}
button{
    background-color: rgb(122, 224, 190);
    color: rgb(255, 255, 255);
    border-radius: 30%;
    width: 100px;
    height: 30px;
    border-color: #fff;
}
.image{
    width: 80%;
    
}
.portfoillo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;

    

}
.title{
    justify-content: center;
    align-items: center;
    width: 50%;
    

}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79c799b4;
    padding: 20px;
    gap: 50px;
}

.dev , .design , .docu {
    text-align: center;
    width: 30%;
    
}
.pic{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}